// @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap');

@font-face {
    font-family: arabicFont;
    src: url("../fonts/NeoSansArabicRegular.ttf");
    font-weight: 400;
  }
  @font-face {
    font-family: arabicFont;
    src: url("../fonts/NeoSansArabicLight.ttf");
    font-weight: 300;
  }
  @font-face {
    font-family: arabicFont;
    src: url("../fonts/NeoSansArabicMedium.ttf");
    font-weight: 500;
  }
  @font-face {
    font-family: arabicFont;
    src: url("../fonts/NeoSansArabicBold.ttf");
    font-weight: 700;
  }
  @font-face {
    font-family: arabicFont;
    src: url("../fonts/NeoSansArabicBlack.ttf");
    font-weight: 900;
  }


*:not(i),*:not(i)::after,*:not(i)::before{
    font-family: 'Montserrat', sans-serif;
}

  
.fontFamilySecond {
    &, & > * {
        font-family: 'Oswald', sans-serif!important;
    }
    
}

[dir="rtl"] {
  
    *:not(i),*:not(i)::after,*:not(i)::before {
        font-family: arabicFont;
    }

    
}





[class^='lg-'],[class^='lg-']::before,[class^='lg-']::after {
    font-family: unset;
}

p {
    font-weight: normal;
    &.para {
        font-size: 15px;
        color: #58595B;
        line-height: 1.5;
        font-weight: 400;

    }
}

h1,h2,h3,h4,h5,div,p,ul,li,a,input{
    margin:0;
    padding: 0;
    text-decoration: none!important;
    
}

a:link,a:hover,a:focus,a:active{
    text-decoration: none;
}


li{
    list-style: none;
}
.capitalize{
    text-transform: capitalize;
}

.font-weight-bolder {
    font-weight: 900!important;
}

// img.arrow {
//     margin-right: .5rem;
//     width: 14px!important;
//     height: 9px!important;
// }


.h2 {
    font-weight : 700;
    font-size : 19px;
    line-height : 41.04px;
    color : #5B5B5B;
}

.h3 {
    font-weight : bold;
    font-size : 16px;
    line-height : 21.04px;
    color : #5B5B5B;
}

.p{
    font-size : 10px;
    line-height : 27.04px;
    color : #8E8E8E;
    font-weight : bold;
}

.span {
    font-size : 10px;
    line-height : 27.04px;
    color : #B2B2B2!important;
    font-weight : bold;
}

.mainColor {
    color: #964C9C;
    font-weight : bold;
}

.font16 {
    font-weight : bold;
    font-size : 16px;
}