
// import extenral libraries
@import"simplebar";
@import"swiper.min";

// START HERE
@import 'abstracts/functions';
@import 'abstracts/mixins';
@import 'abstracts/variables';
@import 'components/buttons';


@import 'base/animation';
@import 'base/base';
@import 'base/headings';
@import 'base/typography';
@import 'base/utilities';

@import "layout/header";
@import "layout/footer";
@import "layout/grid";
@import "layout/navigation";
@import "layout/Menu";
@import "pages/home";
@import "pages/about";
@import "pages/careers";
@import "pages/news";
@import "pages/underConst";

@import 'components/photo_swipe';


[dir="rtl"] {
    .callUs .number {
        flex-direction: row-reverse;
        justify-content: flex-end;

        img {
            margin-left: 0;
            margin-right: .4rem;
        }
    }
}

.page_navigation .main__footer_toggler .num {
    display: flex;
}
.page_navigation .main__footer_toggler .num a {
    color: #222B62;
}
.page_navigation .main__footer_toggler span {
    width: auto;
    background-color: unset;
}

.hr_announcements.notify .modal-header .media img {
    object-fit: contain!important;
}

.message-popup-contain{
   

    .message-popup-wrap{
        display: flex;
        align-items: center;
        color: #155724;
        background-color: #d4edda;
        background-color: #d4edda;
        padding: .75rem 1.25rem;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        border-radius: .25rem;
        position: fixed;
        font-size: 1.6rem;
        display: flex;
        align-items: center;
        z-index: 9999999;
        top: 2rem;

        p {
            margin-right: 2rem;
        }
    }
}

.control-group{
    .control-label{
        display: none;
    }
}