.header_banner {
    width: 100%;
    height: 400px;
    background-image: linear-gradient(to bottom,
    rgba(255, 255, 255, .7) 7%, rgba(255, 255, 255, .3) 80%), url("../img/about/head.jpg");
     background-size: cover;
     background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &:before, &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background-color: rgba(255, 255, 225, 0.04);
    }
    &:before {
        clip-path: polygon(0 0, 32% 0, 85% 100%, 0% 100%);
        width: 49%;
        z-index: 1;
        @include respond(tab-land) {
            width: 88%;
        }
        @include respond(phone) {
            width: 100%;
            clip-path: polygon(0 0, 2% 0, 100% 100%, 0% 100%);
        }
    }
    &:after {
        clip-path: polygon(0 0, 50% 0, 100% 100%, 0% 100%);
        width: 30%;
        z-index: 2;
        @include respond(tab-land) {
            width: 60%;
            clip-path: polygon(0 0, 50% 0, 93% 100%, 0% 100%);
        }
        @include respond(phone) {
            width: 55%;
            clip-path: polygon(0 0, 6% 0, 100% 100%, 0% 100%);
        }
    }

    .pageTitle {
        color:$mainColor ;
        font-size: 65px;
        font-weight: 600;
        margin-top: 0rem;
        text-transform: uppercase;
        text-align: center;
       
        line-height: 1.1;
        @include respond(tab-land) {
            max-width: 300px;
        }
        @include respond(phone) {
            font-size: 38px;
        }
    }

    .page_subTitle{
        color:$mainColor ;
        font-size: 21px;
        font-weight: 400;
        margin-top: 3rem;
        text-transform: uppercase;
    }
}

.history_cont {
    padding: 10rem 0 4rem;
    @include respond(tab-land){
        padding: 8rem 0rem 0 ;
    }
    & > .tabs.row {
        @include respond(tab-port){
            display: none;
         }
    }
            
       
   .tabs {
        width: 90%;
        margin: 0 auto;
        border-bottom: 1px solid #BCBEC0;
        padding: 1rem;
        margin-bottom: 10rem;
        @include respond(tab-land){
            margin-bottom: 5rem;
            width: 100%;
            max-width: 100%;
        }
        
      
       a {
           color: $mainColor;
           font-size: 19px;
           padding: 1rem 0;
           position: relative;
           justify-content: center;

            &,
            &:link,
            &:visited
             {
                &:hover,&.active {
                    .arrow {
                        transform: translateX(-50%)!important;
                        visibility: visible;
                        opacity: 1;
                    }
                }
                
           }
       
           .arrow {
               position: absolute;
               top: 100%;
               left: 50%;
               transform: translateX(-50%);
               width: 20px;
               visibility: hidden;
               opacity: 0;
               transition: all .1s ease-in;
           }
       }
   }
  
    &_sec  {
        .date  {
            color: $mainColor;
            font-size: 40px;
            font-weight: 900;
            margin-bottom: 4rem;
        }
    }

    &_img {
        min-height: 250px;
        
        img {
            width: 100%;
            height: 100%;
            min-height: 250px;
            object-fit: cover;
        }
    }

    &.aboutwwa {
        & > .row {
            margin-bottom: 10rem;
        }
        .row {

            // &:not(.tabs) {
            //     @include respond(tab-port){
            //         flex-direction: column-reverse;
            //     }
            // }

            &.m_v_v {
                @include respond(tab-port){
                    flex-direction: column;
                }
               
           
            }
            
            @include respond(phone){
                margin-bottom: -3rem;
            }


    
            &:nth-of-type(2) {
                @include respond(phone){
                    margin-top: 6rem;

                }
                .history_cont_img {
                    @include respond(tab-port){
                        max-width: 450px;
                        margin-right: auto;
                        width: 59%;
                    }
                }
                .history_cont_sec {
                    padding: 4rem 8rem 6rem 6rem;
                    @include respond(tab-port){
                        padding: 6rem 0rem 12rem 4rem;
                        width: 100%;
                    }
    
                    h3 {
                        font-weight: 400;
                    }
                }
               
            }
    
            &:nth-of-type(3) {
               
                .history_cont_sec {
                    padding: 13rem 29rem 12rem 6rem;
                    background-color: #F6F5F3;
                   flex: 1;
                   @include respond(tab-land) {
                    padding: 15rem 8rem 16rem 2rem;
                    margin-top: -8rem;
                   }
                   @include respond(phone) {
                    padding: 15rem 2rem 12rem 2rem;
                   }
                }
                .history_cont_img {
                    margin-left: -24rem;
                    align-self: end;
                    margin-top: -5rem;
                    max-width: 500px;
                    min-width: 450px;
                    @include respond(tab-land) {
                        margin-left: auto;
                        align-self: flex-end;
                       
                    }
                    @include respond(phone){
                        max-width: 340px;
                        min-width: 340px;
                        align-self: end;
                        margin-top: 10rem;
    
                    }
                }
            }
    
           
        }
    }


    &.aboutManagement {

        .aboutManagementRows {
            padding-bottom: 4rem;
            padding-top: 8rem;
            margin-bottom: 2rem;
            margin: 6rem;
            width: 91%;
            overflow: hidden;
            @include respond(tab-land){
                margin: 6rem 2rem;
                width: 100%;
            }
            @include respond(phone){
                flex-direction: column;
                margin: 4rem 0rem;
                padding-bottom: 0rem;
                overflow: visible;
                margin-top: 20rem;
            }
            
        }
        .history_cont_img {
            min-height: 250px;
            width: 100%;

        }


        .history_cont_sec {
            flex: 1;
            padding: 6rem;
            margin-top: -3rem;
            @include respond(tab-port){
                padding: 7rem 7rem 4rem 4rem;
            }
            @include respond(phone){
                order: 2;
                width: 100%;
                padding: 6rem 1rem 4rem 1rem;
            }
            &.pL-0 {
                padding-left: 0;
                @include respond(phone) {
                    padding-left: 1rem;
                }
            }
        }

        .name {
            margin-top: .5rem;
            @include respond(phone){
                margin-top: 1rem;
            }
        }

        .title {
            color: #5B5B5B;
            font-size: 14px;
            font-weight: normal;
        }
        
        .ceoSection {
            background-color: #F6F5F3;
            width: 90%;
            margin-left: auto;
            overflow: visible;
            padding: 4rem 0;
            @include respond(phone){
                width: 100%;
                flex-direction: column;
                align-items: flex-start;

            }
            .history_cont_sec {
                @include respond(phone){
                    padding: 6rem 6rem 4rem 1rem;

                    h2 {
                        width: 30rem;
                    }
    
                }
            }
            .history_cont_img {
                min-height: 250px;
                width: 370px;
                margin-left: -15rem;
                margin-top: -10rem;  
                @include respond(tab-port){
                    width: 225px;
                    margin-left: -13rem;
                    margin-top: -39rem;
                }
                @include respond(phone){
                    margin-left: 0rem;
                    margin-top: -24rem;
                }

                img {
                    @include respond(phone){
                       width: 248px;
                       height: 300px;
                    }
                }
    
            }
           
        }

        .restOfTeam{
            margin-top: 14rem;
            justify-content: space-between;
            align-items: flex-start;

            .col-lg-3{
                @include respond(tab-port){
                    margin-bottom: 6rem; 
                }
            }

            .history_cont_img {
               

                img {
                    height: 500px;
                   
                    @include respond(phone){
                       max-width: 100%;
                    }
                }
            } 
            .history_cont_sec {
                margin-top: 0rem;
                padding: 1rem;

                h4 {
                    font-size: 25px;
                }
                h5 {
                    font-size: 21px;
                }
            }
        }
    }

    &.aboutIndus {
        .tabsCont  {
           
            padding: 4rem 0 8rem 0rem;
        }
        .awadrsTitle {
            font-weight: 400;font-size: 48px;
            margin-bottom: 6rem;
            text-align: center;
        }
        .tabs.main {
            border-bottom: unset;
        }
        .awards{
            .heading23_blue {
                margin-bottom: 3rem;
                text-align: center;
                width: 100%;
            }
            
            .swiper-container {
                width: 100%;
                max-width: 940px !important;
                overflow: visible !important;
                @media (max-width: 767px) {
                    max-width: 70% !important; 
                }
                @include respond(tab-land){
                   
                }
                .swiper-slide {
                    height: auto;
                    background-color: #EFEDE1;
                    padding: 5px;
                }
                .award {
                    height: 100%;
                    background-color: #EFEDE1;
                    border: 1px solid #DEDBC9;
                    position: relative;
                    padding: 2rem 6rem 6rem 2rem;

                    .main_p18_b {
                        line-height: 1.2;
                    }
                    img {
                        position: absolute;
                        bottom: 1rem;
                        right: 1rem;
                        width: 20px;
                    }
                }
            }
            .main__footer_toggler {
                min-width: 4rem;
            }
            .main_slider_footer {
                justify-content: center;
            }
        }
    }
}

.corporateStrategy {
    padding-bottom: 9rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-color: #F6F5F3;
    position: relative;
    @include respond(tab-land){
        padding: 0 0 0;
        margin-top: 20rem;
    } 
    @include respond(phone) {
        margin-top: 30rem;
        padding-top: 22rem;
    }

    .history_cont_sec{
        align-self: flex-start;
        margin-top: 6rem;
        margin-left: 6rem;
        @include respond(phone) {
           margin: 2rem;
        }
        h3 {
            font-weight: 300;
            font-size: 48px;
        }
    }

    .row{
        padding: 0 6rem;
        align-items: flex-start;
        margin-top: 3rem;
        @include respond(phone) {
            margin-top: 1rem;
            padding: 0 2rem;
            margin-bottom: 6rem;
        }
        .col {
            margin-bottom: 6rem;
            padding-left: 0;
            img {
                margin-top: -29rem;
                transform: translateX(8rem);
                width: 100%;
                max-width: 500px;
            }
        }

        .imgCont {
            @include respond(tab-land){
                position: absolute;
                top: -8rem;
                right: 0rem;
                display: flex;
                justify-content: flex-end;

                img {
                    width: 260px;
                    height: 240px;
                    margin-top: 0;
                    transform: translateX(2rem);
                }
            } 
            @include respond(phone) {
                top: -15rem; 
                img {
                    width: 300px;
                    height: 280px;
                  
                }
            }
        }
        
        h3 {
            font-size: 23px;
            font-weight: 400;
            color: #184481;
            border-bottom: 1px solid #CECECE;
            padding-bottom: 1.5rem;
            margin-bottom: 2rem;
            text-transform: capitalize;
            padding-right: 20rem;
        }

    }
}

.values {
    padding: 6rem;
    @include respond(tab-land) {
        padding: 6rem 2rem;
    }
    .col1of3 {
        margin-top: -10rem;
        @include respond(tab-land){
            margin-top: -1rem;
            margin-bottom: 9rem;
        }
        .heading_black {
            margin-bottom: 0;
        }
        .main_p {
            font-size: 17px;
        }
    }
    .swiper-container {
        background-color: $mainColor;
        clip-path: polygon(6% 0, 100% 0, 100% 100%, 0% 100%);
        @include respond(phone){
            clip-path: polygon(12% 0, 100% 0, 100% 100%, 0% 100%);
        } 
        
        .main__footer_toggler {
            clip-path: polygon(0% 0, 100% 0, 100% 100%, 5% 100%);
        }
        .swiper-slide {
            padding: 6rem 10rem;
            @include respond(tab-land) {
                padding: 9rem 10rem;
            }
            @include respond(phone){
                padding: 5rem 2rem 5rem 7rem;
            } 
        }

        .value {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &_img {
                margin-right: 2rem;
                img {
                    width: 70px;
                }
            }

            &_text {
                flex: 1;
                h2 {
                    font-size: 30px;
                    text-transform: capitalize;
                    margin-bottom: 0rem;
                }

                p {
                    font-weight: 200;
                    font-size: 20px;
                    line-height: 1.4;
                }
            }
            
        }
    }
    .main_slider_footer {
       
        @include respond(phone){
            justify-content: flex-end;
        } 
      
        .main__footer_toggler {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
            @include respond(tab-land) {
                margin-left: 0rem;
            }
        }
    }
   
}

// fabrication
.fabrication {
    padding-bottom: 18rem;
    .bluePanel {
        background-color: $mainColor;
        padding: 2rem 2rem 2rem 6rem;
        display: flex;
        flex-direction: column;
        color: #FFFFFF;
        width: 340px;
        margin-left: -8rem;
        clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
        margin-top: -16rem;
        @include respond(tab-land) {
            margin-left: auto;
        }
        @include respond(phone) {
            width: auto;
            min-width: auto;
            margin-left: auto;
            margin-top: 7rem;
        }

        span {
            font-size: 13px;
            font-weight: lighter;   
            width: 18rem;
            word-break: break-word;
        }

        h3 {
            font-size: 35px;
            font-weight: 900;   
        }
    }
    & > .main_p17 {
        padding: 14rem 6rem 4rem;
        width: 75%;
        margin-bottom: 8rem;
        @include respond(tab-land) {
            width: 100%;
            padding: 10rem 2rem 4rem;
        }
    }

    .fabrication_sec1 {
        margin-left: 20rem;
        display: flex;
        align-items: center;
        @include respond(tab-land) {
            margin-left: 0;
        }
        @include respond(phone) {
            flex-direction: column-reverse;
        }
        &_img {
            flex: 1;
            @include respond(tab-land) {
                height: 65rem;
            }
            @include respond(phone) {
                height: 230px;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .fabrication_sec2 {
        margin-right: 20rem;
        margin-top: -17rem;
        display: flex;
        align-items: center;
        position: relative;
        z-index: -1;
        @include respond(tab-land) {
            margin-right: 0rem;
            margin-top: -10rem;
        }
        @include respond(phone) {
            margin-top: 10rem;
            flex-direction: column;
        }

        &_text {
            background-color: $mainColor;
            width: 72%;
            padding: 10rem 43rem 10rem 6rem;
            @include respond(tab-land) {
                width: 78%;
                padding: 14rem 7rem 12rem 6rem;
            }
            @include respond(phone) {
                width: 100%;
                padding: 6rem 4rem 7rem 4rem;
            }
        }

        .bluePanel.brown {
            margin-top: 20rem;
            background-color: #5B5B5B;
            clip-path: polygon(0% 0, 90% 0, 100% 100%, 0% 100%);
            margin-left: -1px;  
            padding: 2rem 10rem;
            width: 300px;
            @include respond(tab-land) {
                margin-top: 5rem;
                margin-right: 3rem;
            }
            @include respond(phone) {
               margin-right: auto;
               padding: 2rem 7rem;
               width: auto;
            }
        }
    }
}

.certifications{
    width: 70%;
    margin: 0 auto;
    justify-content: center;
    @include respond(tab-land) {
        width: 100%;
    }
    .col-lg-6 {
        @include respond(tab-port) {
           margin-bottom: 4rem;
        }
    }
    .cert {
        background-color: #EFEDE1;
        box-shadow: inset 0 0 10px #DEDBC9;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 380px;
        padding: 4rem ;
        padding-bottom: 2rem;
        margin: 0 1rem;
        @include respond(phone) {
            min-width: 320px;
            width: 380px;
         }

        .title {
            color: #000000;
            font-weight: bold;
            font-size: 24px;
            margin-bottom: 2rem;
        }

       img:nth-of-type(1) {
            width: 45px;
            margin-bottom: 3rem;
        }
        img:nth-of-type(2) {
            width: 135px;
            margin-bottom: 2rem;
        }

        .btn {
            font-size: 11px;
            color: #184481;
            justify-content: center;
        }
    }
}

.construction {
    &_sec1 {
        padding: 12rem 6rem 0 0 ;
        @include respond(phone) {
            padding: 6rem 0 0 0 ;
        }

        .row {
            @include respond(tab-land) {
                flex-direction: column-reverse;
            }
        }

        &_text {
            padding: 10rem 6rem 10rem 7rem;
            align-self: flex-start;
            @include respond(tab-land) {
                padding: 0rem 2rem 9rem 2rem;
            }
            @include respond(phone) {
                padding: 0rem 2rem 6rem 2rem;
                margin-bottom: 0!important;
            }
        }

        &_img {
           min-height: 600px;
           @include respond(tab-land) {
            max-height: 400px;
            min-height: unset;
            height: 400px;
            width: 90%!important;
            margin-right: auto;
            }
            @include respond(phone) {
                max-height: 230px;
                width: 100%!important;
                min-height: unset;
                height: 230px;
                margin-right: 0;
            }
         
           
        }
    }

    &_sec2 {
        .row {
            flex-wrap: nowrap;
            @include respond(tab-land) {
                flex-wrap: nowrap;
                flex-direction: column-reverse;
            }
        }
        margin-bottom: 16rem;

        .col1of3 {
            padding: 0rem 2rem 2rem 6rem;
            @include respond(tab-land) {
                width: 70%;
                margin-right: auto;
                padding: 0rem 2rem 2rem 2rem;
            }
            @include respond(phone) {
                width: 100%;
            }
            p.main_p17 {
                margin-bottom: 4rem; 
            }

            li {
                margin-bottom: 1.5rem;
            }
        }

        .col2of3{
            margin-top: -20rem;
            margin-left: 4rem;
            background-color: $mainColor;
            padding: 13rem 6rem 13rem 25rem;
            position: relative;
            z-index: -1;
            @include respond(tab-land) {
                margin-top: -7rem;
                margin-bottom: 10rem;
                padding: 15rem 28rem 8rem 10rem;
                margin-left: 23rem;
            }
            @include respond(phone) {
                margin-top: 0rem;
                margin-bottom: 10rem;
                padding: 9rem 6rem 6rem 2rem;
                margin-left: 0rem;
            }

            h3 {
                margin-bottom: 5rem; 
            }

            p {
                margin-bottom: 3rem;
            }
        }
    }
}

.tabData {
    display: none;

    &.active {
        display: block;
    }
}
.tabsCont {
    overflow: hidden;
    padding: 2rem 0 10rem 6rem;
    @include respond(tab-land){
        padding: 8rem 0 8rem 2rem;
       
    }

    // gallery page
    &.gallery {
        padding: 6rem 0 10rem 6rem;
        @include respond(tab-land){
            padding: 6rem 0 6rem 2rem;

            .col1of3  {
                width: 50%;
            }
            .custom_selectbox {
                display: block;

                #tab_mobile2 {
                    padding: 2.5rem 0 2.5rem 1rem; 
                }
            }
           
        }
        @include respond(phone) {
            .col1of3  {
                width: 97%;
            }
        }
    }

    .tabs {
        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            @include respond(tab-land){
                overflow-x: scroll;
                padding: 2rem 0 2rem 13rem;
               
            }
            @include respond(phone){
               
                padding: 2rem 0 2rem 2rem;
                justify-content: flex-start;
               
            }
            
        }
        li {
            a {
                font-size: 22px;
                padding: 2rem 0 1rem;
                border-bottom: 1px solid transparent;
                color: #184481;
                &.active {
                    border-color: #184481;
                    font-weight: bold;
                    
                }
                
            }
            &:not(:last-of-type) {
                margin-right: 5rem;
            }
        }
    }
}

.content {
    .tabData  {
        @include respond(tab-land){
            margin-top: 4rem;
        }
    }
    .prodLines {
        
        .sec_1 {
            @include respond(tab-land){
                width: 95%;   
            }
        }

        .sec_2 {  
            margin-top: -17rem;
            margin-right: -1rem;
            height: 400px;
            @include respond(tab-land){
                width: 70%;
                margin-top: 7rem;
                margin-right: 0rem;
                margin-left: auto;
               
            }
            @include respond(phone){
                width: 95%;
                height: 250px;   
            }
        }
    }
}

.certification{
    padding: 0rem 0 5rem;
    position: relative;


    &_header {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 5rem;
       
        .primary_text {
            font-size: 48px;
            font-weight: 400;
        }
    }

    .tabs {
        border-bottom: unset;
    }

    .swiper-container{
        width: 80%;
        margin: 8rem auto;
        padding: 9rem 0 0;
        @include respond(tab-land) {
            width: 95%!important;
        }
    }

    .swiper-pagination_cert{
        display: none;
    }

    .swiper-pagination{
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: unset;
        top: 0;
        margin-bottom: 7rem;
        
       
        @include respond(phone) {
            overflow-x: scroll;
            width: 100%;
        }

        .swiper-pagination-bullet{
            width: auto;
            height: auto;
            min-width: 10rem;
            background: unset;
            max-width: 120px;
            opacity: 1;
            border-radius: unset;
            outline: none;
            padding-bottom: .8rem;
            border-bottom: 1px solid transparent;
            margin: 0 1.5rem;
            @include respond(phone) {
                min-width: 12rem;
                max-width: unset;
            }

            img:not(.arrow) {
                width: 100%;
                height: 100%;
            }
            .arrow {
                top: 80%;
            }
            &-active {  
                .arrow {
                    visibility: visible;
                    opacity: 1;
                }
            }

            p {
                @include respond(phone) {
                    font-size: 1.7rem;
                }
            }
        }
    }

    .swiper-slide {
        height: auto!important;
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 9.5rem 0rem;
            width: 83%;
            height: auto;
            min-height: 98%;
            max-height: 98% !important;
            margin: 0 auto;
            
            position: relative;
            @include respond(tab-land) {
                width: 100%;
                padding: 7.5rem 0rem;
             }
            @include respond(phone) {
                padding: 8.5rem 2rem;
                width: 95%;
             }
            
            img {
                min-width: 100px;
                max-width: 110px;
               margin-bottom: 2.5rem; 
            }

             p {
                 text-align: center;
             }

           
        }  
    }

    .swiper-button-prev,.swiper-button-prev_w,.swiper-button-next,.swiper-button-next_w{
        top: 53%;
        width: 10px;
        height: 21px;
        background-size: 10px 39px;
        @include respond(phone) {
           display: none;
        }
    }

    .swiper-button-prev,.swiper-button-prev_w {
        left: 14%;
    }
    .swiper-button-next,.swiper-button-next_w {
        right: 14%;
    }
}


.tabs.secondery,.tabs.third{
    @include respond(tab-land) {
        display: none;
    }
    
    ul {
        flex-direction: column;
        align-items: flex-start;
        li {
            width:80%;
            border-bottom: 1px solid #BCBEC0;
            margin-right: 0;

            a {
                width: 75%;
                display: flex;
                border: none;
                align-items: center;
                text-transform: capitalize;
                img.tri { 
                    visibility: hidden;
                    opacity: 0;
                    transition: all .3s ease;
                }

                &.active {
                    
                    img.tri {
                        visibility: visible;
                        opacity: 1;
                        
                    }
    
                }
            }
        }
    }
}

.horizontalTabs {
   
    .custom_selectbox{
        position: relative; 
        width: 100%;
        margin: 0 auto;
        display: none;
        @include respond(tab-port) {
            display:block;
            margin-bottom: 5rem;
         }
         &:before  {
            content: "";
            position: absolute;
            top: 42%;
            width: 20px;
            height: 22px;
            text-align: center;
            font-size: 28px;
            line-height: 45px;
            pointer-events: none;
            z-index: 99;
            background-repeat: no-repeat;
            cursor: pointer;
         }
        &:before {
            right: 20px;
            background-image: url("../img/icons/green_down.png"); 
            
        }

      
    }
    #tab_mobile,#tab_mobile2 {
        background-color: white;
        padding: 3.5rem 0 3.5rem 2rem;
        color: $mainColor;
        font-size: 15px;
        font-weight: 400;
        outline: none;
        padding-left: 2rem;
        width: 100%;
        cursor: pointer;
        outline: none;
        position: relative;
        -webkit-appearance: none;
        text-indent: 5px;
        border: none;
        border-top: 2px solid #F1F1F1;
        border-bottom: 2px solid #F1F1F1;
        @include respond(phone){
            padding: 3.5rem 6rem 3.5rem 2rem;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        
        option {
            color: #5B5B5B;
           
        }
    }

    
   
    
}



.indSectors {
    align-items: flex-start;
    .data_cont.col2of3.sec_2 {
        padding: 0rem 6rem;
        @include respond(tab-land){
            padding: 9rem 2rem 8rem 0;
            width: 100%;
           
        }
    }
    .tabs.third {
        .tri_bull {
            width: 90%;
        }
    
        .icon {
            max-width: 30px;
            margin-right: 1.2rem;
        }
    }

    .dataDiv {
        width: 100%;
        .inds_name {
            font-size: 21px;
            color:#5B5B5B ;
            font-weight: bold;
            margin-bottom: 2.5rem;
            @include respond(tab-land){
               display: none;
               
            }
        }
    }

    .indSectors_dataCont {
     
        .indSectors_dataCont_img {
            width: 49%;
            overflow: hidden;
            height: 270px;
            cursor: pointer;
            margin-bottom: 1.4rem;
            @include respond(phone){
                width: 100%;
                
             }
          
    
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
         }
    }
    .data_cont.col2of3.sec_2 .dataDiv h3 {
       font-size: 24px;
       font-weight: 400; 
      text-transform: uppercase;
       
    }
}

// project single
.singleProject {
    .heading_black {
        text-transform: capitalize;
    }
    .content {
        padding-top: 2rem;
       
        .fabrication {
            display: flex;
            align-items: flex-end;
            padding-bottom: 0;
            margin-top: -40rem;
            @include respond(tab-land){
                margin-top: 6rem;
                width: 85%;
                margin-bottom: 10rem;
               
            }
            @include respond(phone){
                flex-wrap: wrap;
                flex-direction: column-reverse;
                margin: 0;
                height: auto;
                width: 96%;
                margin-top: 4rem;
               
            }
            .bluePanel {
                margin-top: 0rem;
                margin-bottom: 7rem;
                margin-right: -3rem;
                margin-left: 0rem;
                @include respond(phone){
                    margin-top: -6rem;
                    padding: 3rem 3rem 3rem 7rem;
                   
                }
            }

            img {
                max-height: 450px;
                object-fit: cover;
                @include respond(phone){
                    margin-left: -2rem;
                    width: 108%;
                }
            }
        }
    }
    .singleProject_details {
        .singleProject_details_detail {
            margin-bottom: 2rem;

            & > .heading_48Light {
                margin: -2rem 0 5rem 0;
            }

            h4 {
                color: $mainColor;
                font-size: 18px;
                font-weight: 400;
                text-transform: capitalize;
            }
            p {
                color: #5B5B5B;
                font-size: 14px;
                font-weight: 400;
                line-height: 1.5;
            }
        }
    }
}

.single_slider {
    margin-bottom: 17rem;

    & > .heading_48Light {
        width: 100%;
        text-align: center;
        margin-bottom: 5rem;
    }
    .swiper-container {
       
        width: 100%;
        max-width: 550px !important;
       
        overflow: visible !important;
        @include respond(phone){
            max-width: 94% !important;
        }
    }
  

    .swiper-pagination {
        position: static;
        display: flex;
        font-size: 14px;
        color: #5B5B5B;

        span {
            background-color: unset;
            width: auto;
            height: auto;
        }
    }
   
    .swiper-slide {
        max-height: 560px;
        min-height: 560px;
        height: 440px;
        
        cursor: pointer;

      

        &.content {
            .content_text {
                height: auto;
                padding-top: unset;
                padding: 4rem;

                p {
                    display: none;
                }
               
            }
        }

        &.swiper-slide-active {
            .content_text {
                a {
                    display: none;
                }
    
                p {
                    display: block;
                }
            }
            
        }
        
       
        justify-self: stretch;    
       &.swiper-slide-active {
           opacity: 1;
           
       }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
      }

      .main_slider_footer {
        justify-content: center;
        margin-top: 0rem;

        .main__footer_toggler{
            min-width: 13rem;
        }
      }
}


// engineering
.engineering {
    &_sec1 {
        padding: 5rem 13rem 10rem 0;
        @include respond(tab-land){
            padding: 3rem 2rem 10rem 0;
           
        }
        @include respond(phone){
            padding: 0rem 1rem 0rem 0;
        }
        &_img { 
            height: 460px;
            object-fit: cover;
            @include respond(tab-land){
                width: 70%!important;
                margin: 5rem 0 8rem;   
            }
            @include respond(phone){
                width: 100%!important;
                height: 315px;
                margin-bottom: 4rem!important;
            }
        }

        .text {
            padding-left: 4rem;
            @include respond(tab-land){
               width: 95%;
               
            }
            @include respond(phone){
                padding-left: 2rem;
            }

            .main_p {
                margin-bottom: 3rem;
            }
        }
    }

    &_sec2 {
        padding: 5rem 0 10rem 6rem;
        @include respond(tab-land){
            padding: 5rem 0 7rem 2rem;
           
        }

        &_img { 
            height: 302px;
            object-fit: cover;
            @include respond(tab-land){
                width: 70%!important;
                
                margin: 5rem 0 8rem;
                margin-left: auto;
             }
             @include respond(phone){
                width: 100%!important;
                height: 220px;
                margin-bottom: 0!important;
            }
        }

        .text {
            padding-right: 14rem;
            @include respond(tab-land){
                width: 95%;
                margin-bottom: 5rem;
                
             }
             @include respond(phone){
                margin-bottom: 1rem;
                padding-right: 0rem;
            }

        }
    }

    &_sec3 {
        padding: 4rem 6rem;
        @include respond(tab-land){
            padding: 4rem 2rem;
            
         }
         @include respond(tab-land){
            padding: 4rem 2rem 0px 2rem;
            margin-bottom: 0rem;
            
         }
        margin-bottom: 4rem;
        & > h3 {
            font-size:23px ;
            text-transform: uppercase;
            margin-bottom: 3.5rem;
            color: $mainColor;
        }

        .fabrication  {
            padding-bottom: 0;
        }

        &_imgs {
            display: flex;
            flex-wrap: wrap;
            &_cont {
                width: 23.5%;
                margin-right: 1rem;
                @include respond(tab-land){
                    width: 31.5%;
                    margin-right: 2rem;
                    min-width: 250px;
                    margin-bottom: 9rem;
                    
                 }
                 @include respond(phone){
                    width: 100.5%;
                    margin-right: 0rem;
                }
                img {
                    height: 250px;
                    width: 100%;
                    object-fit: cover;
                }

                .bluePanel {
                    margin-left: unset;
                    margin: -1.5rem auto 0;
                    width: 95%;
                    padding: 3.5rem 2rem 3.5rem 4rem;
                    clip-path: polygon(0% 0, 100% 0, 90% 100%, 0% 100%);
                    h3 {
                        font-size: 16px;
                        text-transform: capitalize;
                    }
                }
            }
        }
    }

}

// quality

.quality {
    &_sec1 {
        padding: 7rem 8rem 6rem 6rem;
        @include respond(tab-land){
            padding: 6rem 2rem 0rem 2rem;
        }
        .main_p17 {
            margin-bottom: 2.5rem;
            width: 75%;
            @include respond(tab-land){
                width: 75%;
            }
            @include respond(phone){
                width: 100%;
               
             }
        }
    }

    &_sec2 {
        padding: 6rem 0rem 6rem 2rem;
        @include respond(tab-land){
            flex-direction: column-reverse;
        }
        .text {
            padding-right: 5rem;
            @include respond(tab-land){
                width: 90%;
                margin-top: 8rem;
                align-self: flex-start;
             }
             @include respond(phone){
                width: 100%;
             }
        }
        .main_p17 {
            margin-bottom: 1.5rem;

            &:first-of-type {
                margin-bottom: 4rem;
            }

            &:last-of-type {
                margin-top: 7rem;
            }
        }

        &_img {
            height: 600px;
            object-fit: cover;
            margin-top: -15rem;
            @include respond(tab-land){
               width: 75%;
               margin-left: auto;
               margin-top: 0;
            }
            @include respond(phone){
                width: 100%;
                height: 400px;
             }
        }
    }
}

// HSE

.hse {
    padding-bottom: 9rem;
    .heading_black {
        margin: 8rem auto 14rem;
        width: 50%;
        min-width: 400px;
        display: block;
        text-align: center;
        text-transform: capitalize;
        @include respond(tab-land){
            margin: 10rem auto ;
            width: 80%;
         }
         @include respond(phone){
             text-transform: capitalize;
             padding: 0 2rem 0 2rem;
         }
    }
    & > .row {
        padding: 4rem 6rem;
        @include respond(tab-land){
            padding: 0rem 0 0 2rem;
            margin-bottom: 8rem;
         }
         @include respond(phone){
            margin-bottom: 0;
        }
    }

    &_sec1 {
        .text {
            padding-right: 10rem;
            @include respond(tab-land){
                padding-right: 2rem;
                margin-bottom: 7rem;
               
            }
        }

        &_img {
            height: 303px;
            object-fit: cover;
            @include respond(tab-land){
                width: 65%;
                margin-left: auto;
             }
             @include respond(phone){
                width: 100%;
            }
        }
    }

    &_sec2 {
        @include respond(tab-land){
            flex-direction: column-reverse;
         }
       

        &_img {
            height: 567px;
            width: 100%;
            object-fit: cover;
            max-width: 380px;
            @include respond(tab-land){
                margin-left: auto;
                margin-top: 10rem;
             }
        }

        .text {
            padding-top: 3rem;
            padding-left: 0rem;
            .main_p17 {
                margin-bottom: 1rem;
    
                &:first-of-type {
                    margin-bottom: 2rem;
                }
    
               
            }
        }

        &.hse_sec3 {
            @include respond(tab-land){
                flex-direction: column;
             }
          .first {
              margin-bottom: 6rem;
          }

         .hse_sec2_img {
        
            @include respond(tab-land){
                max-width: 480px;
             }
        }
        }
       
    }
}

.eng_single {
    &_sec1 {
        padding: 10rem 34rem;
        text-align: center;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0.8)),
         url("../img/Engineering/sec34.jpg");
         width: 100%;
        height: 414px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        @include respond(tab-land){
            height: auto;
            padding: 10rem 11rem;
        }
        @include respond(phone){
            padding: 9rem .5rem;
        }
        p {
            &:first-of-type {
                margin-bottom: 3rem;
            }
        }
    }

    &_sec2 {
        padding: 4rem 2rem;
        margin: 0 auto;
        display: flex;
        overflow-x: auto;
        justify-content: center;
        @include respond(phone){
            justify-content: flex-start;
        }
        table { 
            border-collapse: collapse;
            }
        
        /* Zebra striping */
        tr:nth-of-type(even) { 
            background: rgba(48, 89, 144, 0.11);
            }
        
        th { 
            background: #305990; 
            color: white; 
            font-weight: bold; 
            &.last {
                font-size: 12px;
                width: 8rem;
                span {
                    font-size: 8px;
                }
            }

            &.first {
                width: 8rem;
            }
        }
        
        td, th { 
            border: none;
            padding: 12px;
            text-align: center;
            font-size: 13px;
            @include respond(tab-land){
                padding: 11px 11px;
            }
            }

            td {
                @include respond(tab-land){
                    min-width: 9rem;
                }
            }
        
       
    }
}

.single_slider.eng_sing {
    margin: 10rem 0;

    .swiper-container {
       
        width: 100%;
        max-width: 600px !important;
    }
    .swiper-pagination {
        position: static;
        display: flex;

        span {
            background-color: unset;
            width: auto;
            height: auto;
        }
    }
   
    .swiper-slide {
        max-height: 282px;
        min-height: 282px;
        height: 282px;
        opacity: 1;
        align-self: center;
  
       &.swiper-slide-active {
        max-height: 400px;
        min-height: 400px;
        height: 400px;
           
       }
    }

    .main_slider_footer {
        margin-top: 2rem;
        margin-bottom: 2rem;

        .main__footer_toggler {
            margin-left: 0%;
            width: 46%;
            justify-content: center;
            clip-path: unset;
            @include respond(phone){
                width: 100%; 
            }
        }
    }
}


.sectors_page {
    padding: 8rem 20% 3rem;
    text-align: center;
    @include respond(tab-land){
        padding: 8rem 1% 3rem;
        text-align: center;
    }
}


.sectors_slider {
    background-color: #F6F5F3;
    .swiper-container {
        width: 100%;
        max-width: unset;
        margin: 8rem auto;
        padding: 0 0 0;
    }

    .swiper-slide div {
        padding: 1.5rem 0rem;

        img {
            min-width: 50px;
            max-width: 50px;
        }

        p {
            width: 60%;
            min-width: 400px;
            @include respond(tab-land){
                width: 100%;
                padding: 0 4rem;
            }
        }
    }

    .swiper-wrapper {
       
        margin-top: 10rem;
    }
    .swiper-pagination {
        justify-content: space-evenly;
        width: 100%;
        margin: 0 auto;
        position: relative;
        background-color: #fff;
        padding: 10rem 15%;
        @include respond(tab-land){
            padding: 0rem 8% 6rem;
        }
        .swiper-pagination-bullet {
            max-width: unset;
            flex: 1;
            text-align: center;
            img {
                max-width: 60px;
                height: auto;
                &.arrow {
                    top: 105%;
                }
            }
        }
    } 
}

.sectors_items {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9) ),
     url("../img/sectors/sectors.jpg");
     background-size: cover;
     background-attachment: fixed;

    .row {
        padding: 12rem 7rem;

        .col46 {
            padding-right: 3rem;;
            @include respond(tab-land){
                width: 100%;
            }
            
        }

        h3 {
            margin-left: -22px;
        }
    }

    .sectors_item {
        margin-bottom: 2rem;
        @include respond(tab-land){
            margin-bottom: 4rem;
        }
    }
}


.searchResultCont {
    padding: 8rem 6rem 10rem 6rem;
    & > .heading_48Light  {
        width: 100%;
        text-align: center;
        margin-bottom: 5rem;

        q {
            text-transform: capitalize;
        }
    }

    .news_listing {
        width: 90%;
        margin: 0 auto;
        max-width: 800px;
    }

    .news_listing_single {
        width: 100%;
        margin-bottom: 0rem;
        border-bottom: 1px solid #eee;
        padding: 2rem 0;

        &:first-of-type {
            border-top: 1px solid #eee;
        }
        &:nth-of-type(odd) {
            margin-right: 0;
        }
    }
}


.servicesTop {
    .history_cont_sec  {
        align-self: flex-start;
        padding-right: 6rem;
    }

    .row {
        @include respond(tab-land){
            .history_cont_img  {
                width: 60%;
                max-width: 400px;
                height: 400px;
                margin-bottom: 10rem;
                order: 2;
            }
    
            .history_cont_sec {
                width: 100%;
                order: 1;
                padding: 0 3rem 5rem 2rem;
            }
        }

        @include respond(phone) {
            .history_cont_img  {
                max-width: 310px;
                height: 340px;
            }
            
        }
       
    }

    & + .single_slider.whatWeDo_sec {
        @include respond(tab-land) {
            width: 100%;
        }
    }
}


.servicesPage {
    padding: 3rem 6rem 6rem;
    @include respond(tab-land) {
        padding: 3rem 0 6rem 2rem;
        margin-bottom: 6rem;
    }

   

    & > .row {
        align-items: flex-start;
    }

    .heading_48Light {
        text-align: center;
        margin-bottom: 4rem;
        display: block;
    }
  
    .nav {
        @include respond(tab-land) {
            flex-direction: row!important;
            justify-content: center;
            flex-wrap: nowrap;
            text-align: center;
        }
        .nav-link {
            color: #5B5B5B;
            font-weight: 300;
            font-size: 22px;
            display: flex;
            align-items: center;
            border-bottom: 2px solid #E9EAEA;
            padding: 2.5rem 1rem;
            @include respond(tab-land) {
                border-bottom: none;
                flex-direction: column;
                font-size: 14px;
                text-transform: uppercase;
                font-weight: bold;
                justify-content: flex-end;
                margin: 0 2rem;
            }
            .arrow {
               visibility: hidden;
               opacity: 0;
               transition: all .3s ease-in-out;
               @include respond(tab-land) {
                    order: 1;
                    transform: rotate(-90deg);
                    margin-top: 2rem;
                }
            }
            .shape {
                width: 45px;
                margin: 0 1rem;
                @include respond(tab-land) {
                    width: 63px;
                    margin-bottom: 1.5rem;
                }
            }
            &.active {
                color: black;
                background-color: unset;
                .arrow {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
    .tab-content{
        .tab-pane{

            .title {
                color: #000000;
                font-weight: 500;
                font-size: 24px;
                display: flex;
                align-items: center;
                margin-bottom: 3rem;
                @include respond(tab-land) {
                    justify-content: center;
                    font-weight: bold;
                }
                .shape {
                    width: 60px;
                    margin: 0 1rem;
                    @include respond(tab-land) {
                       display: none;
                    }
                }
            }

            .row {
               
                .col-md-6 {
                    margin-bottom: 2rem;
                }
                .box {
                    width: 100%;
                    padding: 3rem;
                    display: flex;
                    align-items: center;
                    color: #000000;
                    font-weight: 300;
                    font-size: 18px;
                    box-shadow: 0 3px 16px #00000029;

                    img {
                        width: 47px;
                        margin-right: 2rem;
                    }
                }
            }
           
        }
    }
}


.vidoes_wrapper{
    margin: 10rem 6rem;
    
    @include respond(tab-land) {
        margin: 6rem 2rem;
    }

    @include respond(phone) {
        margin: 6rem 1rem;
    }

    .col-lg-4 {
        height: 214px;
        margin-bottom: 6rem;
        @include respond(phone) {
            margin-bottom: 9rem;
        }
    }

    .main_p_w{
        color: #184481;
        font-size: 16px;
        font-weight: 400;
        margin: .6rem;
        
    }
}

// VIDEOS PAGE
.videoCoverImage {
    width: 99%;
    height: 100%;
    .videoCover {
        position: relative;
        cursor: pointer;
        width: 100%;
        height: 100%;

        .gredient {
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.6);
            z-index: 2;
        }

        .thumb{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .playIcon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 40px;
            z-index: 3;
        }

       
        
        
    }

    .thevideo {
        width: 100%;
        height: 100%;
         iframe {
            width: 100%;
            height: 100%;
        }

    }
}

// newsletter_wrapper

.newsletter_wrapper {
    margin: 10rem 14rem;
    @include respond(tab-land) {
        margin: 8rem 2rem;
    }
    @include respond(phone) {
        margin: 8rem 1rem;
    }
    .list-unstyled{
        margin-bottom: 6rem;
    }

    .media{
        padding: 3rem 0;
        border-bottom: 2px solid #DFDFDF;
        @include respond(phone) {
            position: relative;
            padding-bottom: 5rem;
        }
        img {
            width: 55px;
        }
        .media-body{
            margin-left: 1.5rem;
            h5 {
                font-size: 15px;
                color: $mainColor;
                margin-bottom: 1rem;
            }

            p{
                font-size: 20px;
                width: 85%;
                @include respond(phone) {
                    font-size: 19px;
                    width: 100%;
                }
            }

        }

        .btn {
            margin-left: auto;
            font-size: 15px;
            font-weight: 500;
            color: #184481;
            margin-bottom: 1rem;
            padding: 0;
            align-self: center;
            justify-content: flex-end;
            @include respond(phone) {
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }
    }
}

.partners{
    .main_slider_footer{
        justify-content: center; 
    }
}
.client_testi{
    background-color: #F6F5F3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .primary_text{
        font-size: 48px;
        font-weight: 300;
        margin-bottom: 10rem;
        text-align: center;
        @include respond(tab-land) {
           
        }
    }

    .swiper-container{
        width: 43%;
        min-width: 600px;
        @include respond(phone) {
            min-width: 98%;
        }
    }
 

    .para {
        font-size: 20px;
        width: 85%;
        @include respond(phone) {
            padding: 0 1rem;
            font-size: 17px;
            width: 100%;
        }
    }

    .media {
        margin-bottom: 2rem;
        align-items: center;
        img {
            width: 100px;
        }
    }
    .media-body{
        margin-left: 1.5rem;
        @include respond(tab-land) {
            margin-left: 0rem;
        }
        h5 {
            font-size: 16px;
            font-weight: 900;
            color: $mainColor;
            margin-bottom: 1rem;
        }

        span {
            color: #464646;
            font-size: 16px;
            font-weight: 300;
        }

        

    }
}