.careers {
    padding: 10rem 0 0 0;

    .heading_48Light {
        width: 100%;
        h2 {
            text-align: center;
            width: 100%;
            margin-bottom: 8rem;
            font-weight: 300;
            line-height: 1.2;
            @include respond(tab-land){
                width: 90%;
                margin: 0 auto 8rem;
                
             }
        }
    }
    
}

.careers_cont {
    width: 75%;
    margin: -3rem auto;
    @include respond(tab-land){
        width: 97%;
     }
}


.careers_loc {
   
    border-bottom: 1px solid #D8D8D8 ;

    &:nth-of-type(1) {
        border-top: 1px solid #D8D8D8 ;
    }
   
}

.careers_loc_content {
    &_head {
        display: flex;
        
        width: 100%;
        min-height: 115px;
        position: relative;
        &-toggle {
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 20px;
            position: absolute;
            top: 35%;
            right: 2rem;
        
           
            img {
                width: 17px;
                transition: all .3s ease;

                &.open {
                    transform: rotate(-90deg);
                }
            }   

            i {
                font-size: 14px;
                color: $mainColor;
            }
        }

        &-title {
            width: calc(100% - 40px);
            
            display: flex;
            justify-content: center;
            padding-left: 1rem;
            flex-direction: column;
            h3 {
                font-size: 21px;
                color: $mainColor;
                font-weight: 400;
                text-transform: uppercase;
               
            }

           

            &-info {
                display: flex;
                align-items: center;
                margin-bottom: 1.2rem;

                & > p {
                    color: #58595B;
                    font-size: 15px;
                }
                

                &-v {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    margin-bottom: 1.5rem;

                    
                }
            }

            
        }

        .info-title {
            color: #5B5B5B;
            font-size: 15px;
            font-weight: normal;
            margin-top: 1rem;
            text-transform: uppercase;
        }
    }

    &_body {
        display: none;
        min-height: unset;
        .full_cont {
            margin: 0.5rem 4% 0rem 0;

            &.requirments  {
                h4 {
                    margin-bottom: 2rem;
                    font-size: 15px;
                    text-transform: capitalize;
                    font-weight: 400;
                    display: inline-block;
                    color: #184481;
                    transition: all .2s ease;
                }

                ul {
                    li {
                        font-size: 14px;
                        margin-bottom: 1rem;
                        color: #5B5B5B !important;
                        font-size: 15px;
                        line-height: 1.8;
                        font-weight: 400;
                        text-transform: unset;
                    }

                        img {
                            width: 11px;
                            margin-right: 1rem;
                            margin-top: 6px;
                        }
                    }
                }
            }
        }
    
}

.apply_now_btn {
    .btn {
        padding: 1.5rem 0rem;
        font-weight: 400;
        margin-bottom: 2rem;
        color: $mainColor;
       
    }
}

.application_form {
    display: flex;
    flex-wrap: wrap;
    margin-top: 9rem;
    background: #F6F5F3;
    padding: 7rem 0rem;
    margin-bottom: 0rem;
   .heading_48Light  {
        text-align: center;
        width: 100%;
        margin-bottom: 8rem;
        margin-top: 2rem;
        line-height: 1.2;
        
    }
    @include respond(tab-land){
        flex-direction: column;
    }
   

    &_form {
        width: 75%;
        margin: 0 auto;
        @include respond(tab-land){
            justify-self: center;
            margin: 0 auto;
            margin-top: 0;
            padding: 14rem 2rem 4rem 2rem;
            width: 100%;
        }
        @include respond(phone){
            width: 100%;
            padding: 0rem 1rem 2rem 1rem;
           
        }

        h2 {
            font-size: 41px;
            color: #000000;
            text-transform: uppercase;
            font-weight: 900;
            text-align: center;
            width: 100%;
            margin-bottom: 4rem;
        }

        .custom_input_group:nth-of-type(2) {
            align-self: flex-start;
            .input_files_cont_parent{
                margin-top: 1rem;
            }
        }
      
    }

}

.input_files_cont{
    width: 100%;
    display: flex;
    flex-direction: column;
    @include respond(tab-land) {
       width: 100%;
     }
}

.input_file_cont {
    margin-bottom: 2rem;
}

.input-file-container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: 400;
    flex-wrap: wrap;

    span:not(.wpcf7-not-valid-tip) {
        font-size: 10px;
        color: black;
        font-weight: 100;
        display: block;
        font-style: italic;
        margin-left: 1rem;

        
    }
    span:not(.wpcf7-form-control-wrap) {
        margin-left: auto; 
    }
  } 
  .js .input-file-trigger {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #184481;
    font-weight: 400;
    transition: all .4s;
    cursor: pointer;
    margin-left: -1rem;
    

    img {
      width: 26px;
      height: 26px;
      object-fit: cover;
      display: block;
        margin-right: 1rem;
    }
  }
  .js .input-file {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 15px;
    color : black;
    width: 85px;
    
    opacity: 0;
    padding: 14px 0;
    cursor: pointer;
  }

  
  .file-return {
    margin: 0;
  }
  .file-return:not(:empty) {
    margin: 1em 0;
  }
  .js .file-return {
    font-style: italic;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
    margin: 1.3rem 0;
  }
  .js .file-return:not(:empty):before {
    content: "Selected file: ";
    font-style: normal;
    font-weight: normal;
  }
  
  .application_form_form {
      position: relative;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
  }

  .submit_form {
    @include respond(phone){
       margin-top: 1rem;
       
    }

    .btn {
        padding: 2rem 0;
        font-size: 21px;
        color: #184481;
        text-transform: uppercase;
        transition: transform 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940);
        &:hover {
            transform: translateX(1rem);

        }
    
        input {
            font-size: 21px;
            color: #184481;
            text-transform: uppercase;
            background-color: unset;
            border: none;
            cursor: pointer;
     }
    }
    



   
  }
  .main_btn_white.submitForm {
        position: relative;
        background-color: white;
        display: flex;
        align-items: center;
        color: #0B63AC;
        justify-content: center;
        width: 370px;
        height: 80px;
        margin-top: 0;
        margin-left: 0;
        font-size: 13px;
        font-weight: 800;
        @include respond(phone) {
            width: 100%; 
         }

        img {
            margin-left: 5rem;
            width: 7px;
        }
      
      input {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: transparent;
          border: none;
          cursor: pointer;
          color: transparent;
          -moz-appearance: none;
            /* for Chrome */
            -webkit-appearance: none;  
            /* For IE10 */
            &::-ms-expand {
                display: none;
            }
          
      }

      img + span {
        left: 30%;
      }
  }


  .careers_loc_content > .careers_loc_content_head:first-of-type {
      cursor: pointer;
  }


  .custom_input_group {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 3rem;
    width: 49%;
    @include respond(phone){
        margin-top: 0rem;
        
     }
    @include respond(phone){
        width: 100%; 
       
    }

    .custom_input {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 4rem;
        @include respond(phone) {
            width: 100%;
         }

        // &:nth-of-type(odd),&.customMR {
        //     margin-right: 3%;
        // }
       

        input,select,textarea {
            font-size: 13px;
            border: 1px solid #5B5B5B;
            height: 55px;
            padding: .8rem;
            color: black;
            outline: none;
            padding-left: 1rem;
            background: #FFFFFF;
            width: 100%;


            &::placeholder {
                color: rgba(#BCBEC0,.8); 
                font-size: 13px;
            }
           
        }

        textarea {
           height: 245px;
            resize: none;
            padding-top: 2rem;
        }

        select,select[multiple] {
            color: rgba(0,0,0,.4);
            font-size: 13px;
            -webkit-appearance: button;
            appearance: button;
            outline: none;
            position: relative;
            /* for Firefox */
            -moz-appearance: none;
            /* for Chrome */
            -webkit-appearance: none;  
            /* For IE10 */
            &::-ms-expand {
                display: none;
            }
            text-indent: 5px;
            option,option:not(:checked),option:checked {
                padding: 0!important;
                color: rgba(0,0,0,.4);
                font-size: 13px;
                background-color: transparent;
            }
                    
        }
        .custom_selectbox {
            position: relative;
            
            &:before {
                content: "";
                position: absolute;
                top: 1.5rem;
                right: 25px;
                width: 14px;
                height: 22px;
                text-align: center;
                font-size: 28px;
                line-height: 45px;
                background-image: url("../img/icons/right-b.png");
                pointer-events: none;
                z-index: 99;
                background-repeat: no-repeat;
                transform: rotate(90deg);
                cursor: pointer;
            }
        }
    }
}


.solutionsTabs.Locations.car {
    display: flex;
   
    // @include respond(tab-land) {
    //     margin-top: 9rem;
    //     padding: 6rem 4.5rem 8rem 0;
    //  }

     @media(max-width: 80em) {
        margin-top: 9rem;
        padding: 6rem 4.5rem 8rem 0;
     }
    a {
        padding:  2.5rem;
        @include respond(tab-land) {
            padding: 2.5rem 1.5rem;
         }
    }
}



select[multiple] {
    overflow-y: auto;
    height: 15rem!important;
    @include respond(phone) {
        height: 44px!important;
     }
    option:checked,option:active {
        background: #4E9CDD linear-gradient(0deg, #4E9CDD 0%, #4E9CDD 100%);
        color: white!important;
        &:nth-of-type(1) {
            padding-top: 5px!important;
        }
    }
            
}






.solutionsTabs.Locations.car {
    a {
        max-width: 18rem;
        @media (max-width: 75em) {
            max-width: unset;
        }
    }

    
}

.wpcf7-response-output {
    background: #D65F5F!important;
    border: 0!important;
    padding: .5rem 2rem!important;
    color: white!important;
    font-size: 1.2rem!important;
    border-radius: 1rem!important;
    margin-bottom: 3rem!important;
    float: left;
}

.custom_input_group  {
    input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: 1px solid #5B5B5B;
  -webkit-text-fill-color: #BCBEC0;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}
}

.custom_input.loc {
    display: none;
}


[dir="rtl"] {
    .w_w_w_us_text .career_over .w_w_w_us_text-cont {
        @media (max-width: 600px) {
            right: 42%;   
        }
    }
}

.input_files_cont_parent {
    display: flex;
    flex-direction: column;
    margin-top: -3rem;
    width: 100%;

    h3 {
        font-size: 13px;
        margin-bottom: 1rem;
    }
}


.contactForm {
    padding: 0rem 0rem 12rem;
    .submit_form {
        margin-right: auto;
        margin-left: 0;
        margin-top: -1.5rem;
    }

    .g-recaptcha {
        margin-top: -3rem;
    }
}

.hr_announcements{
    background-color: transparent;
    & > .row {
        margin: 0 6rem;
        @include respond(tab-land) {
            margin: 0 2rem;
        }
        @include respond(phone) {
            margin: 0 ;
        }
    }

    .media{
        align-items: unset;
        margin-bottom: 2rem;
        background: transparent;
        border: none;
        img {
            width: 164px;
            height: 134px;
            object-fit: cover;
            @include respond(phone) {
                width: 140px;
                height: 100px;
            }
        }
        
        &-body {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            span {
                font-size: 15px;
                font-weight: 500;
                color: #184481;
                margin-top: 1rem;
                text-transform: initial;
            }

            h5 {
                    font-size: 21px;
                    color: black;
                    font-weight: 400;
                    text-transform: capitalize;
                    @include respond(phone) {
                        font-size: 15px;
                    }
                }
            p {
                font-size: 14px;
                font-weight: 300;
                color: black;
                line-height: 1.8;
                margin: auto 0 1.5rem;
                text-transform: initial;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2; /* number of lines to show */
                -webkit-box-orient: vertical;
                @include respond(phone) {
                    width: 90%;
                    font-size: 13px;
                }
            }
        }
    }

    .modal {
        .modal-dialog{
            max-width: unset;
            width: 760px;
            @include respond(tab-port) {
               width: 100%;
            }
        }

        .modal-content{
            padding: 1.5rem;
        }

        .modal-header{
            border: unset;
            margin-bottom: 1rem;
            span {
                margin-top: auto;
            }

            .close {
                opacity: 1;

                img {
                    width: 3rem;
                }
            }
        }
        .modal-body{
           
            p {
                font-size: 14px;
                font-weight: 300;
                color: black;
                line-height: 1.8;
                text-transform: initial;

                &:not(:last-of-type) {
                    margin-bottom: 3rem;
                }
            }
        }
    }

    /* Important part */
    .modal-dialog{
        overflow-y: initial !important
    }
    .modal-body{
        height: 45vh;
        overflow-y: auto;
    }
}


.requirments{
    h4 {
        margin-bottom: 2rem;
    }

    li {
        display: flex;
        align-items: center;
    }
}

.custom_selectbox {
    position: relative;
    cursor: pointer;
    select {
        cursor: pointer;
    }
}
.custom_selectbox:before {
    content: "";
    position: absolute;
    top: 34%;
    right: 25px;
    width: 14px;
    height: 22px;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    background-image: url("../img/icons/tri_right_b.png");
    pointer-events: none;
    z-index: 99;
    background-repeat: no-repeat;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    cursor: pointer;
}