.news_cont {
    padding: 14rem 6rem;
    @include respond(tab-land){
        padding: 14rem 2rem;
       
    }

    .list_pagination {
        @include respond(tab-land){
            padding: 0 0;
            margin-top: 2rem;
           
        }
    }
    .list_pagination_cont  {
        @include respond(tab-land){
            min-width: 180px;   
        }
        @include respond(phone) {
            min-width: 180px;

        }
    }
}

.news_listing {
    display: flex;
    align-items: center;
    justify-content: center;
    
    flex-wrap: wrap;
    margin-bottom: 0;
    @include respond(tab-land){
        padding:  0 0 ;
       
    }
   
    
    &_single {
        width: 48.5%;
       
        position: relative;
        margin-bottom: 7rem;
       
        @include respond(phone) {
            width: 100%; 
            margin-bottom: 16px;
        }
        &:nth-of-type(odd) {
            margin-right: 1.5%;
            @include respond(phone) {
                margin-right: 0%;
            }
        }
      

        &_text {
           
            width: 100%;
            span {
                color: #5B5B5B;
                font-size: 14px;
                font-weight: 400;
            }

            h2 {
                margin-top: 1rem;
                margin-bottom: 1rem;
                font-weight: 500!important;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                display: -webkit-box;
                line-height: 1.5;
            }

            .btn {
                color: $mainColor;
                padding: 2rem 0;
                font-weight: 400;
            }

           
        }
    }
}

// single
.news_single {
    padding: 0 6rem 2rem 6rem;
    @include respond(tab-land) {
        padding: 0 0 6rem 2rem; 
    }

    .news_listing_single {
       
        width: 70%;
        @include respond(tab-land){
            width: 100%;
            
        }


        & > img {
            min-height: 320px;
            object-fit: cover;
        }
    }

  .singleProject_details {
        padding-top: 6rem;
        padding-right: 0rem;
      @include respond(phone){
        padding-top: 4rem;
      }
  }

  .prodLines > .row {
    @include respond(tab-land){
        flex-direction: column-reverse;

        .sec_2 {
            height: 320px;
        }
       
    }
    .sec_2 {
        @include respond(phone) {
            height: 220px;
            width: 100%; 
        }
    }
    
  }
  .content .prodLines .sec_2 {
    margin-top: -2rem;
    margin-right: -1rem;
    align-self: flex-start; 
  }

  .date {
      color: #5B5B5B;
      font-size: 17px;
      font-weight: 400;
      display: block;
      margin-bottom: 2rem;
  }

  h2.heading20_b {
      font-weight: 800;
      font-size: 23px;
      margin-bottom: 12rem;
      @include respond(phone){
        margin-bottom: 6rem;
      }
  }

  .main_p{
      margin-bottom: 2.5rem;
  }

  h3.heading20_b {
    font-size: 21px;
    margin-top: 3.5rem;
    font-weight: 400;
  }
  .share {
      display: flex;
      padding: 0rem 0 4rem 0;
      border-bottom: 1px solid #BCBEC0;
      margin-top: 4rem;
      @include respond(tab-land) {
        width: 92%;
      }
      .main_p  {
          margin-bottom: 0;
          font-weight: 800;
      }
      .links{
        display: flex;
        align-items: center;
        margin-left: 1rem;
        a {
            margin: 0 1rem;
            @include respond(tab-land) {
                margin: 0 2rem;
              }  

            i {
                color: #305990;
                font-size: 1.8rem;
                @include respond(tab-land) {
                    font-size: 2rem;
                  }  
            }
        }
      }
  }   
}


.more_news {
    color: #305990;
    font-weight: 900;
    font-size: 23px;
    margin-bottom: 0rem;
    margin-top: 9rem;
    
}


.header_main_text.news {
    h1 {
        font-size: 43px!important;
        width: 55%;
        margin-top: 2rem!important;
    }
}

.more_news {
    .main_left_heading {
        max-width: 600px;

        @media (max-width: 450px) {
            margin-left: 7%;
        }
    } 
}

.header_main .header_main_text.newsSingle{
    h1 {
        font-size: 46px!important;
        @media (max-width: 600px) {
            font-size: 22px !important;
            width: 140%;
           
        }
    }
}



.list_pagination_cont {
    .main__footer_toggler {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
        .pageToggle {
            display: flex;
            align-items: center;
            span{
                width: auto;
                height: auto;
                background-color: unset;
                color: #5B5B5B;
                font-size: 15px;
                display: block;
                padding: 0 0.4rem;
                font-weight: 400;
            }
        }
       
    }
}


.news_cont.single {
    padding: 0 2rem;
    margin-bottom: 6rem;
    @include respond(tab-land){
        padding: 0 4rem;
    }
}



// CONTACT us page

.contactUs_sec {
    padding: 8rem 6rem 0;
    @include respond(tab-land){
        padding: 0rem 2rem;
       
    }

    .content > .row {
        margin-top: 7rem;
        margin-bottom: 10rem;
        @include respond(tab-land){
            margin-top: 4rem;
           
        }

        .sec_1 {
            @include respond(tab-land){
                width: 45%;
               
            }
            @include respond(phone){
                width: 100%;
               
            }
        }
        .sec_2 {
            @include respond(tab-land){
                width: 55%;
                margin-right: -6rem;
               
            }
            @include respond(phone){
                width: 100%;
                margin-right: 0;
               
            }
        }

        &:nth-of-type(2){
            .sec_1 {
                @include respond(tab-land){
                   margin-left: 4rem;
                   width: 40%;
                   
                }
                @include respond(phone){
                    width: 100%;
                    margin-left: 0rem;
                    margin-top: 6rem;
                   
                }
            }
        }

        .singleProject_details_detail {
            h4 {
               
                font-size: 18px;
                margin-bottom: .6rem;
            }

            p, ul li {
                font-size: 14px;
                font-weight: 400;
                color: #5B5B5B;
            }

            ul li {
                margin-bottom: 1rem;
            }
        }
    }

    .mapouter {
        position: relative;
        height: 400px;  
    }

    .application_form {
        max-width: 750px;
        margin: 0 auto;
        @include respond(tab-land){
            width: 100%; 
            max-width: 100%;
           
        }
        &_form {
            justify-self: flex-start;
            align-items: flex-start;
        }

        .custom_input.cMB {
            margin-bottom: 5rem;
        }

        .custom_input textarea {
            height: 117px;
        }
    }
}

.latestNews.latestNewsPage {
    padding:  6rem;
    @include respond(tab-land){
        padding: 6rem 2rem;
        
    }
    @include respond(phone){
        padding: 5rem 1rem;
        
    }

    .news_listing_single {
        
        
        
    }
}


.latestNews_single {
    .latestNews_head {
        display: flex;
        justify-content: center;
    }

    .news_listing {
        justify-content: space-between;

        .news_listing_single {
            width: 49%;
            @include respond(phone){
                width: 100%;
                
            }
           

            &:nth-of-type(odd) {
                margin-right: 1%;
            }
           
            
        }
    }
}



.news_listing_single:not(.singleProject_details ) {


    .img_cont {
        overflow: hidden;
        width: 100%;
        height: 260px;
        @include respond(phone){
            height: 180px;
        }

        img {
            transition: all .3s ease-in-out;
        }
    }
    &:hover {
        img {
            transform: scale(1.1);
        }
    }
}