.underConst {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 720px;
    max-height: 720px;
    overflow: hidden;

    .shapeTop,.shapeBottom {
        position: absolute;
    }

    .shapeTop {
        top: -20rem;
        left: 3rem;
        @include respond(phone){
            top: -24rem;
            left: -1rem;
        }
    }

    .shapeBottom{
        bottom: -2rem;
        right: -13rem;
        @include respond(phone){
            bottom: -24rem;
            right: -13rem;
                z-index: 1;
        }
    }

    &_cont {
        margin-top: 10rem;
        text-align: center;

        &--logo {
            margin-bottom: 2rem;
            max-width: 140px;
        }

        h1 {
            color: #B4D44F;
            font-weight: 900;
            font-size: 45px;
            padding: 0rem 2rem 3rem;
            margin-bottom: 5rem;
            border-bottom: 1px solid #BFBFBF;
        }
        p {
            color: #646464;
            font-size: 14px;
            margin-bottom: 1rem;

        }

        ul {
            font-size: 14px;
            li {
                color: #222B62;
                margin-bottom: .3rem;

                &.bold {
                    font-weight: 700;
                }
            }
        }

        &--social {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 5rem;

            li {
                margin: 0 1rem;
            }
        }
    }
}